<article id="node-{{ node.id }}" {{ attributes }}>
  <div{{ content_attributes.addClass('row') }}>
    {% if content.field_image.0 %}
    <div class="columns medium-4">
      {{ content.field_image }}
    </div>
    <div class="columns medium-8">
    {% else %}
    <div class="columns">
    {% endif %}
      <div class="schedule">
        {% for key, item in content.field_date if key|first != '#' %}
            {{ item }}{% if content.field_date[key + 1] %}, {% endif %}
        {% endfor %}
        {% if content.field_heure is not empty %}
        &nbsp;-&nbsp;{{ content.field_heure }}
        {% endif %}
      </div><br/>
      {{ content|without('field_image', 'field_date', 'field_heure', 'field_intervenants') }}
      {% if content.field_intervenants.0 %}
          <div class="intervenants">
            {{ 'Intervenants'|t }} : 
            {% for key, item in content.field_intervenants if key|first != '#' %}
                {{ item }}{% if content.field_intervenants[key + 1] %}, {% endif %}
            {% endfor %}
          </div>
      {% endif %}
    </div>
  </div>
</article>
