<article id="node-{{ node.id }}" {{ attributes }}>
{% if node.field_linkto.0 %}
<a href="{{ content.field_linkto.0['#url'] }}">
{% endif %}
  {{ content.field_image }}
  <div class="content">
    <div class="fixed-height-content">
      {{ title_prefix }}
      {% if not page %}
        <h3{{ title_attributes }}>{{ label }}</h3>
      {% endif %}
      {{ title_suffix }}
      {{ content|without('comment', 'links', 'field_tags', 'field_linkto', 'field_image') }}
    </div>
    <div{{ content_attributes }}>
      {% if node.field_linkto.0 %}
        <p class="button large em-small">{{ 'Find out more'|t }}</p>
      {% else %}
        <p class="button large em-small disabled">{{ 'Coming soon'|t }}</p>
      {% endif %}
    </div>
  </div>
{% if node.field_linkto.0 %}
</a>
{% endif %}
</article>
