<article id="node-{{ node.id }}" {{ attributes }}>
  <div{{ content_attributes.addClass('row') }}>
    {% if content.field_image.0 %}
      {% if not page %}
    <div class="columns medium-3">
      {% else %}
    <div class="columns medium-4">
      {% endif %}
      {{ content.field_image }}
    </div>
    {% if not page %}
    <div class="columns medium-9">
      {% else %}
    <div class="columns medium-8">
      {% endif %}
    {% else %}
    <div class="columns">
    {% endif %}
      {{ title_prefix }}
      {% if not page %}
        <h3{{ title_attributes }}>{{ label }}</h3>
      {% endif %}
  {{ title_suffix }}
      <div class="schedule">
        {% for key, item in content.field_date if key|first != '#' %}
            {{ item }}{% if content.field_date[key + 1] %}, {% endif %}
        {% endfor %}
        {% if node.field_heure.0 is not empty %}
        &nbsp;-&nbsp;{{ content.field_heure }}
        {% endif %}
      </div><br/>
      {% if node.field_lieu.0 %}
        <div class="field_lieu">
        {{ 'Stand'|t }}&nbsp;
        {% if node.field_lieu.0.entity.field_detail_visible.value %}
            <a href="{{ content.field_lieu.0['#url'] }}" >
        {% endif %}
        {{ content.field_lieu.0['#title']|raw }}
        {% if node.field_lieu.0.entity.field_detail_visible.value %}
            </a> 
        {% endif %}
        - {{ node.field_lieu.0.entity.field_stand.value }}
        </div>
      {% endif %}
      {{ content|without('field_image', 'field_date', 'field_heure', 'field_intervenants', 'field_lieu') }}
      {% if content.field_intervenants.0 %}
          <div class="intervenants">
            {{ 'Intervenants'|t }} : 
            {% for key, item in content.field_intervenants if key|first != '#' %}
                {{ item }}{% if content.field_intervenants[key + 1] %}, {% endif %}
            {% endfor %}
          </div>
      {% endif %}
    </div>
  </div>
</article>
