    {% if row._entity.field_detail_visible.value %}
    <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}" class="row linked">
    {% endif %}
    <div class="columns small-2 image">{{ fields.field_image.content }}&nbsp;</div>
    <div class="columns small-10">
    <h3>{{ fields.title.content}}</h3>
    
    <div class="schedule">
        {{ row._entity.field_date_range.0.value|date("d/m") }}
        {% if row._entity.field_date_range.0.value != row._entity.field_date_range.0.end_value %}
        -&nbsp;{{ row._entity.field_date_range.0.end_value|date("d/m") }}
        {% endif %}
        {% if row._entity.field_heure.0 is not empty %}
        {% if row._entity.hasTranslation(language) %}
            &nbsp;-&nbsp;{{ row._entity.translation(language).field_heure.0.value|raw }}
        {% else %}
            &nbsp;-&nbsp;{{ row._entity.field_heure.0.value|raw }}
        {% endif %}
        {% endif %}
      </div><br/> 
    <div class="primary">
           {% if row._entity.field_lieu.0 %}
        {% if row._entity.field_lieu.0.entity.field_detail_visible.value and not row._entity.field_detail_visible.value %}
        <a href="{{ path('entity.node.canonical', {'node': row._entity.field_lieu.0.entity.nid.value}) }}">
        {% endif %}
            {{ row._entity.field_lieu.0.entity.title.value|raw }}
        {% if row._entity.field_lieu.0.entity.field_detail_visible.value and not row._entity.field_detail_visible.value %}
        </a>
        {% endif %}
    {% else %}
        {{ fields.field_lieu_autre.content }}
    {% endif %}
    </div>
    <p class="teaser">{{ fields.body.content }}</p>
    {% if row._entity.field_intervenants.0.value %}
    <p class="intervenants">{{ 'Intervenants'|t }} : {{ fields.field_intervenants.content }}</p>
    {% endif %}
    {% if row._entity.field_detail_visible.value %}
    <p class="button">{{ 'More info'|t }}</p>
    {% endif %}
    </div>
    {% if row._entity.field_detail_visible.value %}
    </a>
    {% endif %}