    {% if row._entity.field_detail_visible.value %}
    <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}" class="row linked">
    {% endif %}
    <div class="columns small-2 image">{{ fields.field_image.content }}&nbsp;</div>
    <div class="columns small-8">
    <h3>{{ fields.title.content}}</h3>
    <p class="teaser">{{ fields.body.content }}</p>
    <p class="intervenants">{{ 'Intervenants'|t }} : {{ fields.field_intervenants.content }}</p>
    {% if row._entity.field_detail_visible.value %}
    <p class="button">{{ 'More info'|t }}</p>
    {% endif %}
    </div>
    <div class="columns small-2 time">{{fields.field_heure.content}}</div>
    {% if row._entity.field_detail_visible.value %}
    </a>
    {% endif %}