    {% if fields.field_image.content %}
    <div class="columns small-2">
    {{ fields.field_image.content }}
    </div>
    <div class="columns small-8">
    {% else %}
    <div class="columns small-10">
    {% endif %}
    <h4>{{ fields.title.content}}</h4>
    <p class="teaser">{{ fields.body.content }}</p>
    {% if row._entity.field_intervenants.0.value %}
    <p class="intervenants">{{ 'Intervenants'|t }} : {{ fields.field_intervenants.content }}</p>
    {% endif %}
    {% if row._entity.field_detail_visible.value %}
    <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}" class="button">{{ 'More info'|t }}</a>
    {% endif %}
    </div>
    <div class="columns small-2 time">{{fields.field_heure.content}}</div>